/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-abr-2016, 15:38:13
    Author     : lauricdd
*/

@font-face { 
    font-family: 'febrero'; 
    src: url('../fonts/febrero/Febrero-Light.otf'); 
}

$primary: #E0E0E0; //Light grey 
$accent: #B6b6B6; //Dark grey
$black: #262626; //Black
$dark_primary: #C1C1C1; //Dark grey
$secondary: #0E7049; //Green 
$background: #EFEFEF; //Light grey
$blue : #039BE5; 

body{
    font-family: 'febrero';
    font-weight: lighter;
    background-color: $background;
}

.fontblue{
    color: $blue !important;
}

.fontgreen{
    color: $secondary !important;
}

.backgroundgreen{
    background-color: $secondary;
}

.break_word{
    word-wrap: break-word;
}

/***** Warning Box *****/
.warning-box {
    background: #E0717C;
    color: #F4F7FE;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
    margin:15% auto;
}
    
.warning-box i{
    font-size: 1.2em;
    margin-right: 10px;
}
/***** Warning Box *****/

/***** Data preloader *****/
.data-preloader {
    margin:15% 0;
}
/***** Data preloader *****/

@media (max-width:459px) {
    .warning-box {
        font-size: 1em;
    }

    body{
        font-size: 100%;
    }
}

@media (min-width: 460px) and (max-width : 767px){
    .warning-box {
        font-size: 1.2em;
    }

    body{
        font-size: 110%;
    }
}    

@media (min-width :768px) and (max-width : 992px) {
    .warning-box {
        font-size: 1.3em;
    }

    body{
        font-size: 120%;
    }
}

@media (min-width:993px) {
    .warning-box {
        font-size: 1.4em;
    }

    body{
        font-size: 120%;
    }
}