
.dashboard{
    /** Navbar***/
    a.active, a.active:hover{
        background-color: $background;
        border: none;
        color: $secondary;
    }

    nav{
        background-color: $black;
        box-shadow: none;
    }

    .collapsible-header {
        border: none;
        background-color: #044f43;
    }
    /** Nav li ***/

    /*** Footer ***/
    footer.page-footer .footer-copyright {
        background-color: #3D3D40;
    }

    footer.page-footer {
        background-color: $black;
    }

    footer.page-footer a{
        color: white;
        font-weight: bold;
    }
    /*** Footer ***/

    /*** Sticky Footer 
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }***/
    /*** Sticky Footer ***/ 

    @media (max-width:459px) {
        /** Navbar***/
        nav{
            height: 60px;
        }

        .nav-wrapper{
            padding: 6px 2px 0 3px;
        }

        nav li a{
            font-size: 1.4em;
            padding: 0 5px 0
        }

        /* Logo */
        #logo_nav{
            width: 140px;
            border-right: white 1px solid;
            padding-right: 12px;
        }

        .nav-wrapper a h5{
            font-size: 1.1em;
            margin: 18px 0 0 8px;
        }   
        /* Logo */
        /** Navbar***/

        /*** Footer ***/
        footer.page-footer{
            text-align: center;
        } 

        #logo_footer img{
            width: 200px;
            padding-top: 10px;
        }
        /*** Footer ***/
    }

    @media (min-width: 460px) and (max-width : 767px){
        /** Navbar***/
        nav{
            height: 72px;
        }

        .nav-wrapper{
            padding: 8px 16px 0;
        }

        nav ul li a {
            padding: 0;
        }

        nav li a{
            font-size: 1.2em;
            margin-top: 0;
        }

        /* Logo */
        #logo_nav{
            width: 161px;
            border-right: white 1px solid;
            padding-right: 12px;
            margin-right: 18px;
        }

        .nav-wrapper a h5{
            margin: 19px 0;
            font-size: 1.2em;
        }   
        /* Logo */
        /** Navbar***/

        /*** Footer ***/
        footer.page-footer{
            text-align: center;
        } 

        #logo_footer img{
            width: 250px;
            padding-top: 10px;
        }
        /*** Footer ***/
    }

    @media (min-width :768px) and (max-width : 992px) {
        /** Navbar***/
        nav{
            height: 70px;
        }

        .nav-wrapper{
            padding: 10px 16px;
        }

        nav li a{
            font-size: 1.3em;
        }

        /* Logo */
        #logo_nav{
            width: 160px;
            border-right: white 1px solid;
            padding-right: 12px;
        }

        .nav-wrapper a h5{
            margin: 15px;
        }   
        /* Logo */
        /** Navbar***/

        /*** Footer ***/
        footer.page-footer{
            text-align: center;
        } 

        #logo_footer img{
            width: 260px;
            padding-top: 10px;
        }
        /*** Footer ***/
    }

    @media (min-width:993px) {
        /** Navbar***/
        nav{
            height: 80px;
        }

        .nav-wrapper{
            padding: 10px 16px;
        }

        nav li a{
            font-size: 1.6em;
        }

        /* Logo */
        #logo_nav{
            width: 180px;
            border-right: white 1px solid;
            padding-right: 5px;
        }

        .nav-wrapper a h5{
            margin: 18px;
        }   
        /* Logo */
        /** Navbar***/

        /*** Footer ***/
        #logo_footer img{
            width: 420px;
            padding-top: 10px;
        }
        /*** Footer ***/
    }
}