<div class="container listview">
    <div class="container">
        <div class="card row">
            <div class="col s12">
                <div class="card-content" >
                    <div class="pagetitle">
                        <div class="data-preloader center" ng-show="loading">
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>

                    <div ng-hide="loading">
                        <div class="pagetitle">
                            <a onclick="window.history.back();" class="left"><i class="fa fa-arrow-circle-left fa-2x"></i> </a> 
                            <h4 class="fontblue">{{subject}} {{nrc}}</h4>
                        </div>
                        <h5>Listado de estudiantes</h5>

                        <div class="card-action">
                            <div ng-if="students.length > 0">
                                <div class="row">
                                    <div class="col s12 m6 l6"> 
                                        <form class="forms forms-inline input-field">
                                            <input type="text" class="input-big width-50" id="query" ng-model="query">
                                            <label for="query">Buscar</label>
                                        </form>
                                    </div>
                                    <div class="col s6 m3 l3">
                                        <a class="btn waves-effect waves-light backgroundgreen" ui-sref="studentlist({course : nrc})"><i class="fa fa-check"></i> Asistencia</a>
                                    </div>
                                    <div class="col s6 m3 l3">
                                        <a ng-click="modalStatistics();" class="btn waves-effect waves-light red"><i class="fa fa-bar-chart"></i> Estadísticas</a>
                                    </div>
                                </div>

                                <div ng-repeat="s in students| filter:query | orderBy:'s.name'">
                                    <div class="collection">	
                                        <div class="collection collection-item avatar">
                                            <a ui-sref="studentcourseview({course : nrc, student: s.id})">
                                                <i class="fa fa-users circle red"></i>
                                                <span class="title">{{s.names}} {{s.lastnames}}</span>
                                                <p class="black-text break_word">{{s.id}}<br>
                                                    {{s.email}}
                                                </p>
                                            </a>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="students_empty">
                            <div class="warning-box">
                                <p>
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <span> <strong>No hay estudiantes matriculados en el curso</strong></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="modalStatistics" class="modal">
                        <div class="modal-content">
                            <div class="row">
                                <h3 class="center">Estadísticas del curso</h3>
                                <div class="col l9 push-l1 m10 push-m1 s12">
                                    <!--<div class="center" id="container" ></div>-->
                                    <table>
                                        <thead>
                                            <tr>
                                                <th data-field="id">Nombre</th>
                                                <th data-field="name">Asistencias</th>
                                                <th data-field="price">Faltas</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <div ng-if="students_attendance.length > 0">
                                                <div ng-repeat="attendance in students_attendance">
                                                    <tr>
                                                        <td>{{attendance.student_name}} {{attendance.student_lastname}}</td>
                                                        <td>{{attendance.attendance_percent.value}}</td>
                                                        <td>Hola</td>
                                                    </tr>      
                                                </div>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="$('#modalStatistics').closeModal();" class="btn-flat">CERRAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  