<title>Cursos</title>
<div class="dashboard">
    <nav class="nav-wrapper">
        <div class="row">
            <img class="responsive-img col s4" src="img/logo_utb_blanco.png" alt="logo" id="logo_nav">
            <h5 class="col s5">Registro de Asistencias Online</h5>
            <div class="right">
                <ul class="col s3">
                    <!--                <li><a ui-sref="home" class="active">Cursos</a></li>-->
                    <li><a ui-sref="logout" ng-click="logout();"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>             
                </ul>
            </div>

        </div>
    </nav>

    <main ui-view></main>

    <footer class="page-footer">
        <div class="container">
            <div class="row white-text">
                <div class="col l6 s12" id="credits">
                    <ul>
                        <li>Desarrollada por estudiantes del programa de Ingeniería de Sistemas en colaboración con la <a href="http://www.unitecnologica.edu.co/educacionadistancia/">Coordinación de Educación a Distancia de la UTB</a></li>
                        <li>Parque Industrial y Tecnológico Carlos Vélez Pombo, Km 1 Vía Turbaco. - Pbx: 57-5-6535200 - Fax: 57-5- 6619240</li>
                        <li>Campus Casa Lemaitre: Calle del Bouquet cra.21 #25-92, barrio Manga - Tels.: (5) 6606041-42-4</li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12" id="logo_footer">
                    <img class="responsive-img" src="img/logo_utb_blanco.png" alt="logo">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2016 - Cartagena - Bolívar - Colombia
            </div>
        </div>
    </footer>
</div> 
