<div> 
    <div ng-style="show" class="container home">
        <div class="row">
            <div class="col s12 m9 offset-m1 l8 offset-l1">
                <div id="teachercourses" ng-if="courses.length > 0">
                    <h2>Cursos</h2>
                    <div ng-repeat="c in courses" >
                        <ul class="collection collectiondiv">	
                            <li>
                                <a class="collection-item avatar" ng-model="id" ui-sref="studentcourseview({course : c.nrc})">
                                    <i class="fa fa-users circle red"></i>
                                    <span class="title fontblue">{{c.subject_name}}</span>
                                    <p class="fontblue"><b>NRC:</b> {{c.nrc}}</p>
                                </a>  
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="home" ng-if="!courses">
                    <div class="warning-box" id="sensors_warning_box">
                        <p>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            <span> <strong>Algo ocurrió.</strong> No pudimos cargar sus cursos, verifique que tenga cursos matriculados</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>