<div class="container listview">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="s12 col">
                    <div class="pagetitle">
                        <a onclick="window.history.back();" class="left"><i class="fa fa-arrow-circle-left fa-2x"></i> </a> 
                        <h4 class="fontblue">{{names}}{{lastnames}} - {{uid}}</h4>
                    </div>
                </div>
                <div class="card-action">
                    <h4 class="center">
                        <b>Estadísticas de asistencias</b>
                    </h4>
                    <!--<h5 class="center">
                        <b>{{course}}</b>
                    </h5>-->
                    <h5>Asistencias : {{came}}</h5>
                    <h5>Faltas : {{notcame}}</h5>
                    <div id="containerprofile"></div>
                </div>
            </div>
        </div>
    </div>
</div>  